.App {
  text-align: left;
}

.App-logo {
  height: 110px;
  alignment: left;
}

.App-header {
  background-color: #222;
  height: 110px;
  padding: 30px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
