.body{
    position: relative;
    overflow-x: hidden;
}

.App {
  text-align: left;
  background-color: rgba(37, 100, 113, 0.29);
}

.App-logo {
  height: 10px;

}

.App-header {
  background-color: #212529;
  height: 50px;
  padding: 50px;

}

.Map-pos {
  position: relative;
  right: 100%;
  left: 20%;
}

.App-title {
  font-size: 30px;
  color: olivedrab;

}


.app-footer{
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 3.55rem;
    background-color: #212529;
    text-align: center;
    color: #3fe278;
}